<html>
    <head>
      <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
      <title>Rock Paper Scissors</title>
    </head>
    <body>
            <div class="top_bar" style="letter-spacing:4px;">
             <a href="/home">Start New Game</a>
              <div>
                <a href="/">How to Play</a>
            </div>
            </div>
          <div id="overlay"><img src="static/rps.gif" alt="Be patient..." /></div>
        {% block content %}{% endblock %}
    </body>
</html>